<ion-header>
  <ion-navbar>
    <ion-title>
     Dashboard
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content style="position: absolute;height: 100%;">
  <ion-grid style="position: absolute;top:30%">
    <ion-row>
        <button ion-button style="width:60%;
        left: 20%;
        border-radius:50px;color:white;
        background: #18b332;
        height:60px;
        font-size: 22px;
         " 
        (click)="call()">
          SHARE
          </button>
      </ion-row>
  </ion-grid>
</ion-content>
